@font-face {
	font-family: Junicode;
	src: url(junicode-italic-webfont.woff);
	font-style: italic;
}

@font-face {
	font-family: Junicode;
	src: url(junicode-bolditalic-webfont.woff);
	font-style: italic, bold;
}

@font-face {
	font-family: YoungSerif;
	src: url(YoungSerif-Regular.woff);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	max-width: 960px;
	padding-left: 2%;
	padding-right: 2%;
	margin: auto;
	color: #2b2b2b;
}

header {
	padding-top: 72px;
	position: relative;
	text-align: center;
}

main {
	padding-top: 30px;
	position: relative;
	
}

section {
	margin-top: 44px;
	margin-bottom: 36px;
	text-align: justify;
}

.two-column {
	display: inline-block;
	width: 49.50%;
	vertical-align: top;
	text-align: left !important;
}

.three-column {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.four-column {
	display: inline-block;
	width: 24%;
	vertical-align: top;
}

.row:after {
	content: '';
	display: inline-block;
	width: 100%;
}

footer {
	width: 720px;
	margin-top: 48px;
	margin-bottom: 48px;
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0);
	text-align: center;
}

h1 {
	font-family: Junicode;
	font-size: 36px;
	font-style: italic, bold;
	margin-bottom: -16px;
}

h2 {
	font-family: YoungSerif;
	font-size: 24px;
}

h3 {
	font-family: YoungSerif;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: -16px;
}

.logo-a-gogo {
	background: linear-gradient(180deg,rgba(242,240,73,0) 60%, #F2F049 60%);
	background-position: 24% 5%;
	border-radius: 2px;
	padding-right: 12px;
	margin-right: -12px;
}

p {
	font-family: Junicode;
	font-size: 18px;
	font-style: italic;
	line-height: 1.3em;
}

a {
	color: inherit;
	font-style: inherit;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	background-image: linear-gradient(to right, rgba(242,240,73,0) 50%, #F2F049 50%);
	background-position: -0% 0;
	background-size: 200%, auto;
	transition: background-position 0.3s ease-out;
}

a:hover {
	background-position: -99% 0;
}

::-moz-selection {
	color: #403F13;
	background: #F2F049;
}

::selection {
	color: #403F13;
	background: #F2F049;
}

em {
	font-style: initial;
}

hr {
	border-top: 2px #a1a1a1;
	width: 95%;
}

.album {
	max-width: 100%;
}

.book {
	max-height: 315px;
}

.art {
	max-width: 100%;
}

#about {
	width: 720px;
	margin: auto;
	margin-top: 48px;
	margin-bottom: 48px;
	text-align: center;
}

.bananaburst {
	width: 30px;
	height: 30px;
	margin-left: -4px;
	margin-right: -4px;
	vertical-align: middle;
	border-radius: 50%;
	font-size: 20px;
	line-height: 1.4em;
}

#media:hover {
	cursor: pointer;
}

#media:hover .media-highlight {
	background-position: -99.99% 0;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: #2b2b2b;
		color: #ececec;
	}
	
	a {
		background-image: linear-gradient(to right, rgba(255,215,0,0) 50%, #ffd700 50%);
	}
	
	.logo-a-gogo {
		background-image: linear-gradient(180deg, rgba(255,215,0,0) 60%, #ffd700 60%);
	}
}*/